asn1crypto
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
et_xmlfile
Flask
fpdf
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
openpyxl
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
git+https://github.com/pysimplesoap/pysimplesoap.git@stable_py3k
requests
requests-oauthlib
rsa
segno
uritemplate
urllib3
Werkzeug