:root {
  --color-principal: #4A90E2;
  --color-secundario: #3978d7;
  --color-fondo:#f1f7fd;

  --barranav:#9ecdf2;
  --barranav-boton:#70b1ea;
  --barranav-hover:#4a90e2;
  --barranav-text:#29467f;
  --barranav-hover-text:#1d2c4e;
  --barranav-borde:#2d51a0;

  --boton:#c6e0f7;
  --boton-hover:#70b1ea;
  --boton-text:#29467f;
  --boton-hover-text:#1d2c4e;
  --boton-borde:#4a90e2;
  
  --marco:#c1e0f6;
  --marco-shadow:#c6e0f7;

  --color-letra-h1:#1d2c4e;
  --color-letra-hx:#29467f;
  --color-parrafo: black;

  --color-spinner-A:#c6e0f7;
  --color-spinner-B:#9ecdf2;
  --color-spinner-C:#70b1ea;

  --flash-borde:#e29400;
  --flash-fondo:#ffc107;
  --flash-texto:#482200;

  --flash-boton:#e29400;
  --flash-boton-hover:#bb6902;
  --flash-boton-text:#7c420b;
  --flash-boton-hover-text:#482200;
  --flash-boton-borde:#985108;

  --flash-borde-confirmacion:#04b524;
  --flash-fondo-confirmacion:#0dda33;
  --flash-texto-confirmacion:#00330b;

  --flash-boton-confirmacion:#04b524;
  --flash-boton-hover-confirmacion:#078e21;
  --flash-boton-text-confirmacion:#0c5b1c;
  --flash-boton-hover-text-confirmacion:#00330b;
  --flash-boton-borde-confirmacion:#0c6f1f;

  --th:#70b1ea;
  --td:#9ecdf2;

  --confirmacion-accion:var(--color-fondo);
}

body{
  background-color: var(--color-fondo);
  text-align:center;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.marco_div {
  display: block;
  max-width: 85%;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--marco) ;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--marco-shadow) ;
}

.texto_default{
  text-align: left;
}

.texto_centrado{
  text-align: center;
}

h1 {
  color: var(--color-principal);
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-family: 'League Spartan', sans-serif;
}

h2, h3, h4, h5, h6{
  color: var(--color-letra-hx);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p, label, td, figcaption{
  color: var(--color-parrafo);
  line-height: 1.6;
}

.confirmacion-accion{
  color:var(--confirmacion-accion);
}

.AccesoDirecto{
  padding-block: min(5vh, 5rem);
}

#barraDeNavegacion{
  background-color: var(--barranav);
}

.barraNavegacion {
  display: inline-block;
  padding: 6px 10px;
  margin: 0 20px;
  background-color: var(--barranav-boton);
  color: var(--barranav-text);
  text-decoration: none;
  text-align: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  transition: color .3s;
  border: 1px solid var(--barranav-borde);
}

.barraNavegacion::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--barranav-hover);
  z-index: -1;
  transition: width .5s ease;
}

.barraNavegacion:hover {
  color: var(--barranav-hover-text);
}

.barraNavegacion:hover::before {
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navbar-toggler {
  background-color: var(--barranav-boton);
  border: 1px solid var(--barranav-borde);
  border-radius: 5px;
}

.boton {
  display: inline-block;
  padding: 6px 10px;
  margin: 0 20px;
  background-color: var(--boton);
  color: var(--boton-text);
  text-decoration: none;
  text-align: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  transition: color .3s;
  border: 1px solid var(--boton-borde);
}

.boton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--boton-hover);
  z-index: -1;
  transition: width .5s ease;
}

.boton:hover {
  color: var(--boton-hover-text);
}

.boton:hover::before {
  width: 100%;
}

.boton.flash {
  background-color: var(--flash-boton);
  color: var(--flash-boton-text);
  border: 1px solid var(--flash-boton-borde);
}

.boton.flash::before {
  background-color: var(--flash-boton-hover);
}

.boton.flash:hover {
  color: var(--flash-boton-hover-text);
}

.flashalert {
  background-color: var(--flash-fondo);
  border: 1px solid var(--flash-borde);
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.flashmessage{
  color: var(--flash-texto); 
}

.flashalert.confirmacion {
  background-color: var(--flash-fondo-confirmacion);
  border: 1px solid var(--flash-borde-confirmacion);
}

.flashmessage.confirmacion{
  color: var(--flash-texto-confirmacion)
}

.boton.flash.confirmacion {
  background-color: var(--flash-boton-confirmacion);
  color: var(--flash-boton-text-confirmacion);
  border: 1px solid var(--flash-boton-borde-confirmacion);
}

.boton.flash.confirmacion::before {
  background-color: var(--flash-boton-hover-confirmacion);
}

.boton.flash.confirmacion:hover {
  color: var(--flash-boton-hover-text-confirmacion);
}

/**/

#items_ {
  max-height: 200px;
  overflow-y: auto;
}

.input-group {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--color-box);
  border-radius: 5px;
  width: 250px;
}
.input-group h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.centered{
  height:100vh;
  background-color: var(--color-fondo);
  display:flex;
  justify-content: center;
  align-items:center;
}

.hidden{
  display: none;
}

@keyframes parpadeo {
  0% { opacity: 1; }
  100% { opacity: 0.8; }
}
/*Para remover puntos de las listas*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#items_ {
  display: flex;
  flex-direction: column;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  display:none;
}


.spinner {
  width: 100px;
  height: 100px;
  border: 15px solid var(--color-spinner-A);
  border-top-color: var(--color-spinner-C);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pantalla_exito{ 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.75);
  z-index: 9999;
  transition: opacity 0.75s, visibility 0.75s;
}

.pantalla_exito-hidden{ 
  opacity: 0;
  visibility: hidden;
}

.tabla-izquierda{
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

.tabla-centrada {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 95%;
}

.tabla-centrada th,
.tabla-centrada td {
  border: 1px solid #E0E0E0 !important;
  padding: 8px 12px;
  text-align: center;
}

.tabla-centrada th {
  background-color: #FFC857;
}

/*Para el popup de las cookies*/

.cookie_popup{
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #E0E0E0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
  z-index: 10000;
  width: 90%;
  max-width: 450px;
  display: none;
  color:#1E1E1E;
}

.cookie_button{
  padding: 0.5rem 1rem;
    background-color: #4A90E2;
    color: #1E1E1E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cookie_overlay{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

/* Facturador Unico Toggles */
.quantity-input, .discount-input {
  width: 60px;
  padding: 2px 4px; 
  font-size: 0.9em; 
  box-sizing: border-box;
}

.contenedor_pto_venta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.contenedor_pto_venta img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ccc;
}

.responsive-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.responsive-video iframe {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border: none;
}

/*Para la tabla comparativa del menú de facturacion*/

.facturadorMenu h2 {
  text-align: center;
  color: black;
}

.facturadorMenu table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.facturadorMenu th,
.facturadorMenu td {
  padding: 16px;
  border: 1px var(--td);
  text-align: center;
  color: black;
}

.facturadorMenu p{
  color:black
}

.facturadorMenu th {
  background-color: var(--th);
}

.facturadorMenu td {
  background-color: var(--td);
}

@media screen and (max-width: 600px) {
  .facturadorMenu table,
  .facturadorMenu thead,
  .facturadorMenu tbody,
  .facturadorMenu th,
  .facturadorMenu td,
  .facturadorMenu tr {
    display: block;
  }

  .facturadorMenu th {
    display: none;
  }

  .facturadorMenu td {
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .facturadorMenu td:nth-child(2)::before {
    content: "Facturador Único";
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: bold;
    white-space: nowrap;
  }

  .facturadorMenu td:nth-child(3)::before {
    content: "Facturador Múltiple";
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: bold;
    white-space: nowrap;
  }
}

.contenedor-tablas {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.facturadorMenu table {
  border-collapse: collapse;
  width: 100%;
}

.facturadorMenu th, .facturadorMenu td {
  border: 1px solid var(--barranav-borde);
  padding: 8px;
  text-align: center;
}

.texto-entre-tablas {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-parrafo);
}

.content-item{
  display: none; 
  border: 2px solid #4A90E2;
}
