<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
		<link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
		<script src="/static/js/scriptGlobal.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<title>Configuraciones HelPy</title>
	</head>
	<body>
		<!--Seccion de enlaces y acceso directo-->
		<section class="AccesoDirecto">
			<div class="container navbar">
				<nav class="navbar-expand-lg fixed-top" id="barraDeNavegacion">
					<div class="container-fluid">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
							<ul class="navbar-nav"> 
									<li class="nav-item"> <a class="nav-link" href="{{ url_for('index') }}"><h6 class="barraNavegacion">Menú Principal</h6></a></li>
									<li class="nav-item"> <a class="nav-link" href="{{url_for('documentacion')}}" target="_blank"><h6 class="barraNavegacion">Tutoriales</h6></a></li>
									<li class="nav-item"> <a class="nav-link" href="{{url_for('sis_info')}}" target="_blank"><h6 class="barraNavegacion">Sobre el sistema</h6></a></li>
									<li class="nav-item"> <a class="nav-link" href="{{url_for('ayuda')}}" target="_blank"><h6 class="barraNavegacion">Ayuda</h6></a></li>
									<li class="nav-item"> <button id="toggleTheme" class="nav-link"><h6 class="barraNavegacion">Cambiar tema</h6></button></li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</section>
		<!---->
	<div class="marco_div texto_default">
		<h1>Configuraciones de la plantilla de Excel</h1>
		<p>Este archivo te permite subir la información para que el sistema genere las facturas automáticamente.</p>
		
		<!-- Mostrar el mensaje flash con el botón -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-message" class="flashalert">
                        <ul>
                            {% for message in messages %}
                                <li><h5 class="flashmessage">{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        <h5 style="display: flex; justify-content: center;"><button onclick="deleteMessage()" class="boton flash">Eliminar mensaje</button></h5>
                    </div>
                {% endif %}
            {% endwith %}
            <br>
        <!---->
		
		<h2>Elegí lo que queres hacer:</h2>
		<div class="toggle-buttons">
		<h5>
			<button class="toggle boton" style="display: inline-block;" id="button" onclick="changeContent(1)">Modificar mi Plantilla</button>
			<button class="toggle boton" style="display: inline-block;" id="button" onclick="changeContent(2)">Crear una Plantilla nueva</button>
			<button class="toggle boton" style="display: inline-block;" id="button"><a class="nav-link" href="{{url_for('menu_facturador')}}">Volver al menú de Facturación</a></button>
		</h5>
		</div>
		<div id="content">
		<div id="content-1" class="content-item">
			<h1>Modificación de mi plantilla de facturación</h1>
			<p>En este video te muestra como rellenar tus datos personales para modificar correctamente la planilla:</h2>
			<div class="responsive-video">
				<iframe src="https://www.youtube.com/embed/10yaPZTur2Q" title="Configurar Plantilla" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<form action="/save_configuracion" enctype="multipart/form-data" method="POST">

				<h5>Ingresa los datos personales que vas a cambiar.</h5>
				<p><label for="excel">Elegí el archivo de tu plantilla de Excel:</label>
				<input type="file" id="excel" name="excel" required></p>

				<input type="text" name="name" placeholder="Tu Nombre:">
				
				<br><br>

				<input type="text" name="CUIT" placeholder="Tu CUIT:">

				<br><br>

				<input type="text" name="empresa" placeholder="Nombre Empresa:">
				
				<br><br>

				<input type="text" name="pventa" placeholder="Punto de venta:">
				
				<br><br>

				<input type="text" name="razonsocial" placeholder="Tu Razón Social:">
				
				<br><br>

				<input type="text" name="domicilio" placeholder="Tu domicilio fiscal:">
				
				<br><br>

				<input type="text" name="condicionIVA" placeholder="Tu condición frente al IVA:">
				
				<br><br>

				<input type="text" name="ingresosbrutos" placeholder="Tu ingresosbrutos:">
				
				<br><br>
			
				<label for="fecha_inicio">Selecciona la fecha de inicio:</label>
				<input type="date" id="fecha_inicio" name="fechaInicio">
				
				<br><br>

				<label for="iag">Impuesto adicional:</label>
				<select name="iag" id="iag">
					<option value=""></option>
					<option value="Impuesto_Nacional">Impuesto Nacional (Impuesto que cobra el gobierno nacional, como el IVA o Ganancias.)</option>
					<option value="Tributo_Municipal">Tributo Municipal (Impuesto que cobra la municipalidad, como la tasa de seguridad e higiene.)</option>
					<option value="Impuestos_Internos">Impuestos Internos (Impuestos especiales para ciertos productos, como cigarrillos o bebidas alcohólicas.)</option>
					<option value="IIBB">IIBB (Ingresos Brutos, impuesto que cobran las provincias sobre las ventas.)</option>
					<option value="Percepción_de_IVA">Percepción de IVA (Adelanto del IVA que se cobra en algunas compras o ventas.)</option>
					<option value="Percepción_de_IIBB">Percepción de IIBB (Adelanto del impuesto a los Ingresos Brutos que se cobra en algunas operaciones.)</option>
					<option value="Percepciones_por_Tributos_Municipales">Percepciones por Tributos Municipales (Adelantos de impuestos municipales que se cobran en algunas facturas.)</option>
					<option value="Otras_Percepciones">Otras Percepciones (Otros adelantos de impuestos que no entran en las categorías anteriores.)</option>
					<option value="Percepción_de_IVA_a_no_Categorizado">Percepción de IVA a no Categorizado (Cobro extra de IVA a quienes no están registrados en AFIP.)</option>
					<option value="Otros">Otros (Cualquier otro impuesto o percepción que no esté en la lista.)</option>
				</select>

				<br><br>
				
				<input type="text" name="d_iag" placeholder="Descripcion Impuesto adicional global:" style="width: 100%; max-width: 300px; min-width: 200px; box-sizing: border-box;">
				
				<br><br>

				<input type="text" name="alicuota" placeholder="Alícuota:">
				
				<br><br>
				
				<h5 style="display: flex; justify-content: center;"><button type="submit" value="Guardar cambios" class="boton">Descargar Excel Actualizado</h5>
			</form>
		</div>
		<div id="content-2" class="content-item">
			<h1>Armando tu plantilla de facturación:</h1>
			<p>En este video te muestra como rellenar tus datos personales para generar correctamente la planilla</p>
			<div class="responsive-video">
				<iframe src="https://www.youtube.com/embed/7g4jMeBZExY?si=f0QmOwASh2rvFawX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      
			</div>
			<h5>Ingresa los siguientes datos para completar automáticamente tu información personal en las facturas.</h5>
			<form action="/save_configuracion_inicial" method="POST" onsubmit="redirectAfterSubmit(); mostrarLoader(event)" >
			
			<p>El punto de venta es un número que identifica desde dónde se hacen las facturas.</p>
			<p>Tu punto de venta: <input type="number" name="pventa" placeholder="Punto de venta:" required></p>
				
			<br>

			<p>La razón social es el nombre oficial de una empresa o negocio.</p>
			<p>Tu razón social: <input type="text" name="razonsocial" placeholder="Razón Social:" required></p>
			
			<br>

			<p>El domicilio fiscal es la dirección oficial para temas de impuestos.</p>
			<p>Tu domicilio fiscal:<input type="text" name="domicilio" placeholder="Domicilio fiscal:" required></p>
			
			<br>

			<p>La condición frente al IVA indica cómo una persona o empresa paga el Impuesto al Valor Agregado (IVA).</p>
			<label for="condicionIVA">Condición frente al IVA:</label>
			<select name="condicionIVA" id="condicionIVA" required>
				<option value="Monostributista">Monostributista (Paga una cantidad fija cada mes y no agrega IVA en sus facturas.)</option>
			</select>
			<br><br>

			<p>El número de Ingresos Brutos es el número que te identifica como contribuyente del impuesto sobre los Ingresos Brutos en una provincia.</p>
			<p>Tu número de ingresos brutos suele ser tu CUIT sin guiones</p>
			<p>Número de ingresos brutos:<input type="number" name="ingresosbrutos" placeholder="Ingresosbrutos:" required></p>
			
			<br>
			
			<p>La fecha de inicio para la facturación en AFIP/ARCA es el día en que empezaste a vender productos o servicios de manera oficial.</p>
			<p>Si armaste hoy tu cuenta de AFIP/ARCA con este sistema pone la fecha de hoy.</p>
			<label for="fecha_inicio">Selecciona la fecha de inicio:</label>
			<input type="date" id="fecha_inicio" name="fecha_inicio" required>
			
			<br><br>

			<p>Un impuesto adicional es un pago extra que se suma a los impuestos normales.</p>
			<p>Este impuesto adicional se aplica en todos los productos y servicios que factures.</p>
			<label for="iag">Impuesto adicional:</label>
			<select name="iag" id="iag">
				<option value="">No tiene</option>
				<option value="Impuesto_Nacional">Impuesto Nacional (Impuesto que cobra el gobierno nacional, como el IVA o Ganancias.)</option>
				<option value="Tributo_Municipal">Tributo Municipal (Impuesto que cobra la municipalidad, como la tasa de seguridad e higiene.)</option>
				<option value="Impuestos_Internos">Impuestos Internos (Impuestos especiales para ciertos productos, como cigarrillos o bebidas alcohólicas.)</option>
				<option value="IIBB">IIBB (Ingresos Brutos, impuesto que cobran las provincias sobre las ventas.)</option>
				<option value="Percepción_de_IVA">Percepción de IVA (Adelanto del IVA que se cobra en algunas compras o ventas.)</option>
				<option value="Percepción_de_IIBB">Percepción de IIBB (Adelanto del impuesto a los Ingresos Brutos que se cobra en algunas operaciones.)</option>
				<option value="Percepciones_por_Tributos_Municipales">Percepciones por Tributos Municipales (Adelantos de impuestos municipales que se cobran en algunas facturas.)</option>
				<option value="Otras_Percepciones">Otras Percepciones (Otros adelantos de impuestos que no entran en las categorías anteriores.)</option>
				<option value="Percepción_de_IVA_a_no_Categorizado">Percepción de IVA a no Categorizado (Cobro extra de IVA a quienes no están registrados en AFIP.)</option>
				<option value="Otros">Otros (Cualquier otro impuesto o percepción que no esté en la lista.)</option>
			</select>

			<br><br>
				
			<p>Una descripcion adicional para el impuesto adicional: <input type="text" name="d_iag" placeholder="Descripcion Impuesto adicional global:" style="width: 100%; max-width: 300px; min-width: 200px; box-sizing: border-box;"></p>
			
			<br>

			<p>El porcentaje de tu impuesto: <input type="text" name="alicuota" placeholder="Alícuota:"></p>

			<br>
			
			<p>Tu CUIT: <input type="number" name="CUIT" placeholder="Tu CUIT:" required></p>
			<br>

			<p>Tu nombre y apellido: <input type="text" name="nombre_apellido" placeholder="Tu Nombre y apellido:" required></p>
			<br>

			<p>El nombre de la empresa: <input type="text" name="nombre_empresa" placeholder="El nombre de la empresa:" required></p>

			<br>
			<h5 style="display: flex; justify-content: center;"><button type="submit" value="Guardar cambios e ir a iniciar sesión" class="boton">Descargar Plantilla Nueva</h5>
			</form>
		</div>
		</div>
		<br>
	</div>
	
	<script src="{{ url_for('static', filename='js/configuracion/configuracion.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/visual/cambiar_tema.js') }}"></script>
	</body>
</html>
