<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturador HelPy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
    <script src="/static/js/scriptGlobal.js"></script>
    <script src="/static/js/crear_cuenta.js"></script>
</head>
<body>
    <!--Seccion de enlaces y acceso directo-->
    <section class="AccesoDirecto">
        <div class="container barranav">
            <nav class="navbar navbar-expand-lg fixed-top" id="barraDeNavegacion">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('index')}}"><h6 class="enlaceAD boxAD">Menú Principal</h6></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="line"></span> 
                        <span class="line"></span> 
                        <span class="line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
                        <ul class="navbar-nav"> 
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('documentacion')}}" target="_blank"><h6 class="enlaceAD boxAD">Documentación y Tutoriales</h6></a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('sis_info')}}" target="_blank"><h6 class="enlaceAD boxAD">Información sobre el sistema</h6></a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('ayuda')}}" target="_blank"><h6 class="enlaceAD boxAD">Ayuda</h6></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!---->
    <div class="marco_div">
        <h2><u>Comenzando a Facturar</u></h2>
        <!-- Mostrar el mensaje flash con el botón -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-message" style="background-color: #1a1a1a;  border: 1px solid red; padding: 10px; margin: 10px; display: inline-block;">
                    <ul>
                        {% for message in messages %}
                            <li><h5>{{ message }}</h5></li>
                        {% endfor %}
                    </ul>
                    <h5 style="display: flex; justify-content: center;"><button onclick="deleteMessage()" class="enlaceAD boxAD alternativo animado">Eliminar mensaje</button></h5>
                </div>
            {% endif %}
        {% endwith %}
        <br>
        <!---->
        <h3><u>Paso 1:</u> Verificar tu cuenta en AFIP/ARCA</h3>
        <h4>Antes de facturar, asegurate de que tu cuenta en AFIP/ARCA esté activa.</h4>
        <p>Si no la tenés activa, seguí este tutorial:</p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/5D86vHPPLno" title="Crear Cuenta AFIP" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!-- Tutorial de como activar la cuenta de AFIP/ARCA -->
        <p>Ir a descargar la aplicación de AFIP/ARCA: <a href="https://play.google.com/store/apps/details?id=ar.gob.afip.mobile.android.contribuyentes.mi_afip&hl=es_AR" rel="noopener noreferrer" target="_blank">Hacé clic aquí</a></p>
        <p>Ir al sitio de AFIP/ARCA: <a href="https://www.afip.gob.ar/landing/default.asp" rel="noopener noreferrer" target="_blank">Hacé clic aquí</a></p>
        
        <h3><u>Paso 2:</u> Generar tu llave privada y solicitar el certificado</h3>

        <h3>Aca te dejamos un tutorial completo de como hacer tu llave y tu clave privada</h3>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/6zMctDRGgv8?si=SzoUrXbqUOlpQrnm" title="Llave y Pedido Certificado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <h4>Para usar el sistema de facturación, primero necesitás:</h4>
        <ul style="display: flex; justify-content: center; flex-direction: column; align-items: center; list-style-position: inside;">
            <li><p>• Generar tu llave privada</p></li>
            <li><p>• Solicitar un certificado</p></li>
        </ul>

        <h4>¿Para que necesitamos un certificado y una llave propia?</h4>
        <p>Para poder hacer facturas en AFIP o ARCA, necesitamos una llave unica. Esta llave es como una contraseña que le dice al sistema que somos nosotros y que podemos facturar. El certificado es un permiso que nos da AFIP o ARCA. Sin este permiso, no podemos hacer facturas.</p>
        
        <!-- Formulario para generar la llave -->
        <h4>Crear una Llave Privada</h4>
        <form action="/hacer_llave" method="POST">
            <p>El CUIT es es un número único que identifica a cada persona o empresa para hacer trámites en AFIP. Lo encontrás en la parte de atras de tu DNI.</p>
            <div style="display: flex; justify-content: center;">
                <img src="static/DNI_EX.jpg" style="width: 85%; max-width: 300px; height: auto; border: 5px solid #1E1E1E;"/>
            </div>
            <p>Ingresá tu CUIT (sin espacios ni guiones) para descargar el archivo que tiene tu llave propia.</p>
            <input type="text" name="CUIT" placeholder="Tu CUIT:" required>
            <br><br>
            <h5 style="display: flex; justify-content: center;"><button type="submit" value="Crear Llave" class="enlaceAD boxAD alternativo animado">Crear Llave</h5>
        </form>
        <br>
        <!-- Formulario para generar el pedido de certificado -->
        <h4>Solicitar un pedido de certificado</h4>
        <p>Completá los siguientes datos para descargar un archivo con tu pedido de certificado:</p>
        <form action="/hacer_pedido_certificado" method="POST">
            
            <input type="text" name="Nombre" placeholder="Tu Nombre y Apellido" required>
            
            <input type="text" name="Empresa" placeholder="El nombre de tu Empresa" required>
            <br><br>
            <h5 style="display: flex; justify-content: center;"><button type="submit" class="enlaceAD boxAD alternativo animado">Crear Pedido Certificado</button></h5>
        </form>
        <br>
        <h3><u>Paso 3:</u> Autorizar tu punto de venta</h3>
        
        <h4>Para facturar, tenés que autorizar tu punto de venta en AFIP/ARCA.</h4>
        <p>El punto de venta es un número que identifica desde dónde se hacen las facturas. Es obligatorio para facturar en AFIP.</p>
        <p>Seguí este tutorial paso a paso:</p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/i6g66WtAvKw" title="Habilitación de punto de venta" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!--Aca habría un tutorial para la genraciòn del certificado-->
        <p>Ir al sitio de AFIP/ARCA: <a href="https://www.afip.gob.ar/" target="_blank" rel="noopener noreferrer">Hacé clic aquí</a></p>
        <div class="contenedor_pto_venta">
            <figure>
                <img src="static/Fotos_Pto_Venta/Paso1.png" alt="Paso 1" >
                <figcaption>Paso 1 - Ingresar a la AFIP/ARCA</figcaption>
            </figure>
            <figure>
                <img src="static/Fotos_Pto_Venta/Paso2.png" alt="Paso 2">
                <figcaption>Paso 2 - Buscar Sistema Registral</figcaption>
            </figure>
            <figure>
                <img src="static/Fotos_Pto_Venta/Paso3.png" alt="Paso 3">
                <figcaption>Paso 3 - Ingresa a agregar un punto de venta</figcaption>
            </figure>
        </div>

        <h3><u>Paso 4:</u> Obtener tu certificado para facturar</h3>
        
        <h4>Seguí estos pasos en AFIP/ARCA para obtener tu certificado.</h4>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/Y18X1Jh8SYg" title="Certificado Digital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!--Aca habría un tutorial para la genraciòn del certificado-->
        <p>Ir al sitio de AFIP/ARCA: <a href="https://www.afip.gob.ar/" target="_blank" rel="noopener noreferrer">Hacé clic aquí</a></p>
        <!--Botón para ir a la sección de facturar-->
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('inicio_sesion')}}" rel="noopener noreferrer" class="enlaceAD boxAD alternativo animado">Ir a iniciar sesion</a></h5>
    </div>
</body>
</html>