<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturar único</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
    <script src="/static/js/scriptGlobal.js"></script>
    <script src="/static/js/facturador/pantalla_procesamiento_intermedio.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="pantalla_exito pantalla_exito-hidden">
    <h2 id="mensaje_exito" class="confirmacion-accion">Facturado Exitosamente</h2>
    <form id="formulario_exito" action="/menu_facturador" method="POST" onsubmit="mostrarLoader(event)" style="display: none;">
        <h5 style="display: inline-block;">
            <button type="submit" name="accion" value="FM" class="boton">Aceptar</button>
        </h5>
    </form>
</div>
<body>
    <!--Seccion de enlaces y acceso directo-->
    <section class="AccesoDirecto">
        <div class="container navbar">
            <nav class="navbar-expand-lg fixed-top" id="barraDeNavegacion">
				<div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
                        <ul class="navbar-nav"> 
                                <li class="nav-item"> <a class="nav-link" href="{{url_for('menu_facturador_')}}"><h6 class="barraNavegacion">Menu Facturación</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('documentacion')}}" target="_blank"><h6 class="barraNavegacion">Tutoriales</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('sis_info')}}" target="_blank"><h6 class="barraNavegacion">Sobre el sistema</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('ayuda')}}" target="_blank"><h6 class="barraNavegacion">Ayuda</h6></a></li>
                                <li class="nav-item"> <button id="toggleTheme" class="nav-link"><h6 class="barraNavegacion">Cambiar tema</h6></button></li>
                            </ul>
						</div>
				</div>
            </nav>
        </div>
    </section>
    <!---->
    <div class="marco_div texto_default">
        <h1>Facturador Único</h1>
        <h3>¿Como Facturar usando el facturador único?</h3>
        <p>Seguí el tutorial a continuación para aprender a facturar utilizando el facturador único</p>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/dpCA2G5iOqQ" title="Facturacion Unica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <h4>¿Necesitas agregar, modificar o borrar un producto o servicio en tu plantilla? Haz click en "Menú Items"</h4>
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('menu_items')}}" rel="noopener noreferrer" class="boton">Menú Items</a></h5>
        
        <h4>¿ Necesitas agendar clientes que compran con frecuencia? Hace click en "Clientes Frecuentes"</h4>
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('menu_items')}}" rel="noopener noreferrer" class="boton">Clientes Frecuentes</a></h5>
        <br>

        <h2>Ingrese los datos a continuación para luego generar la factura:</h2>
        
        <form action="/facturacion" id="facturaForm" method="POST" onsubmit="mostrarExito(event)">
            <input type="hidden" name="modo_facturacion" value="Factura Unico">

            <br>
            <p>Un número que te deje identificar la factura (Último número que usaste: {{ ultimo_numero }})</p>
            <p>Ingrese el identificador de la factura <input type="number" name="id_factura" placeholder="Número ID de la factura:" required></p>
            <br>

            <label for="tipo_fac">Tipo de factura:</label>
            <select name="tipo_factura" id="tipo_factura" required>
                <option value="Factura C">Factura C; Factura que emiten los <b>Monotributistas</b>A cualquier tipo de cliente.</option>
                <option value="Factura A">Factura A; Factura que emiten los <b>Responsables Inscriptos</b> A otros Responsables Inscriptos.</option>
                <option value="Factura B">Factura B; Factura que emiten los <b>Responsables Inscriptos</b> A Monotributistas, Consumidores Finales, Exentos o sujetos no inscriptos en IVA.</option>
            </select>
            <br><br>

            <h3>Clientes frecuentes</h3>
            <h4>Si seleccionas un cliente, el sistema se encarga de rellenar automaticamente los datos del cliente para vos para esta factura</h4>
            <table class="tabla-centrada">
                <thead>
                    <tr>
                        <th>Seleccionado</th>
                        <th>Nombre y Apellido del Cliente</th>
                        <th>Tipo de Documento</th>
                        <th>Número de Documento del Cliente</th>
                        <th>Número de Teléfono</th>
                        <th>Provincia</th>
                        <th>Localidad</th>
                        <th>Domicilio</th>
                        <th>Condición IVA Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fila in clientes %}
                    <tr>
                        <td>
                            <input type="radio" name="selected_client" class="cliente-radio"
                            data-nombre="{{ fila[0] if fila[0] is not none else '' }}"
                            data-tipo-doc="{{ fila[1] if fila[1] is not none else '' }}"
                            data-num-doc="{{ fila[2] if fila[2] is not none else '' }}"
                            data-telefono="{{ fila[3] if fila[3] is not none else '' }}"
                            data-provincia="{{ fila[4] if fila[4] is not none else '' }}"
                            data-localidad="{{ fila[5] if fila[5] is not none else '' }}"
                            data-domicilio="{{ fila[6] if fila[6] is not none else '' }}"
                            data-condicion-iva="{{ fila[7] if fila[7] is not none else '' }}">

                        </td>
                        <td>{{ fila[0] if fila[0] is not none else "" }}</td>
                        <td>{{ fila[1] if fila[1] is not none else "" }}</td>
                        <td>{{ fila[2] if fila[2] is not none else "" }}</td>
                        <td>{{ fila[3] if fila[3] is not none else "" }}</td>
                        <td>{{ fila[4] if fila[4] is not none else "" }}</td>
                        <td>{{ fila[5] if fila[5] is not none else "" }}</td>
                        <td>{{ fila[6] if fila[6] is not none else "" }}</td>
                        <td>{{ fila[7] if fila[7] is not none else "" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>

            <label for="tipo_doc">Tipo Documento:</label>
            <select name="tipo_doc" id="tipo_doc" required>
                <option value="CONSUMIDOR FINAL">Consumidor Final (No requiere ingresar número de documento)</option>
                <option value="CUIT">CUIT </option>
                <option value="DNI">DNI </option>
                <option value="CDI">CDI (Es un número que se le asigna a los extranjeros que no tienen DNI, pero necesitan realizar trámites fiscales en Argentina.)</option>
                <option value="CI EXTRANJERA">CI EXTRANJERA (Es un documento de identidad oficial para los extranjeros que viven en Argentina)</option>
                <option value="PASAPORTE">PASAPORTE </option>
            </select>
            
            <br><br>

            <p id="texto_nro_doc">Ingrese el número de documento del cliente <input type="number" id="numero_doc_cliente" name="numero_doc_cliente" placeholder="Número de documento:" value="00000000"></p>

            <p id="texto_nombre_apellido">Ingrese el nombre y apellido del cliente <input type="text" id="nombre_apellido_cliente" name="nombre_apellido_cliente" placeholder="Nombre y apellido:" value="CONSUMIDOR FINAL"></p>

            <p id="texto_nro_telefono">Ingrese el número de teléfono del cliente <input type="number" name="nro_telefono" id="numero_telefono" placeholder="Número de telefono:"></p>
            
            <p id="texto_provincia">Ingrese la provincia del cliente <input type="text" name="provincia" id="provincia" placeholder="Provincia:"></p>

            <p id="texto_localidad">Ingrese la localidad del cliente <input type="text" name="localidad" id="localidad" placeholder="Localidad:"></p>

            <p id="texto_domicilio">Ingrese el domicilio del cliente <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio:" ></p>

            <p>El concepto de venta son las condiciones del pago</p>
            <label for="concepto_venta">Concepto de venta cliente:</label>
            <select name="concepto_venta" id="concepto_venta" required>
                <option value="Contado">Contado (Pago inmediato en efectivo o similar)</option>
                <option value="Cuenta Corriente">Cuenta Corriente (Se registra como deuda del cliente)</option>
                <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                <option value="Tarjeta de Débito">Tarjeta de Débito</option>
                <option value="Cheque">Cheque</option>
                <option value="Transferencia">Transferencia bancaria</option>
                <option value="Pago Anticipado">Pago Anticipado (Se paga antes de entregar)</option>
                <option value="Crédito a 30 días">Crédito a 30 días</option>
            </select>
            
            <br><br>
            
            <p>El concepto del IVA para el cliente se refiere a cómo se detalla el Impuesto al Valor Agregado (IVA) en la factura.</p>
            <label for="concepto_iva">Concepto del IVA cliente:</label>
            <select name="concepto_iva" id="concepto_iva" required>
                <option value="Consumidor Final">Consumidor Final (Persona que compra para uso personal)</option>
                <option value="Monotributista">Monotributista (Pequeño contribuyente que tributa un monto fijo mensual)</option>
                <option value="Excento">Exento (Sujeto que no tributa IVA por su actividad)</option>
                <option value="Responsable Inscripto">Responsable Inscripto (Sujeto que tributa IVA y debe discriminarlo en las facturas)</option>
            </select>
            
            <br><br>

            <p>El concepto de la venta es una breve explicación de qué estás vendiendo o haciendo.</p>
            <label for="concepto">Concepto de la venta:</label>
            <select name="concepto" id="concepto" required>
                <option value="PRODUCTOS">Producto/s</option>
                <option value="SERVICIOS">Servicio/s</option>
                <option value="PRODUCTOS Y SERVICIOS">Producto/s y Servicio/s</option>
            </select>
            
            
            <p id="campo_fecha_desde">
                <label for="fecha_desde">Selecciona la fecha de servicio desde:</label>
                <input type="date" id="fecha_desde" name="fecha_desde">
            </p>

            <p id="campo_fecha_hasta">
                <label for="fecha_hasta">Selecciona la fecha de servicio hasta:</label>
                <input type="date" id="fecha_hasta" name="fecha_hasta">
            </p>

            <p id="campo_fecha_vto_pago">
                <label for="fecha_vto_pago">Selecciona la fecha de vencimiento de pago:</label>
                <input type="date" id="fecha_vto_pago" name="fecha_vto_pago">
            </p>
            
            <br><br>

            <label for="items_">Elige los productos o servicios:</label>
            <p>La informacion de los items viene en este orden:</p>
            <p style="justify-content: center;">
                ● Producto/Servicio: Qué se vende o presta. <br>
                ● Código: Número o letra que identifica el producto o servicio. <br>
                ● Descripción: Explicación corta del producto o servicio. <br>
                ● Precio Unitario: Cuánto cuesta una unidad. <br>
                ● Impuesto Adicional: Dinero extra que se cobra por ley. <br>
                ● Descripción: Explicación corta del Impuesto en cuestión. <br>
                ● Alícuota: Porcentaje del impuesto que se aplica. <br>
                ● Cantidad: Cuántas unidades se compran. <br>
                ● Importe Bonificado: Descuento o beneficio aplicado al precio. <br>
            </p>
            
            <label for="search-box">Buscar producto/servicio:</label>
            <input type="text" id="search-box" oninput="filterItems()" placeholder="Buscar producto o servicio...">
            <p>(Si no ves uno de estos campos en tus productos significa que no se lo indicaste cuando agregaste el producto o servicio)</p>
            <div style="overflow-x: auto;">
                <div id="items-container">
                    <table class="tabla-centrada">
                        <thead>
                        <tr>
                            <th>Seleccionado</th>
                            <th>Producto/Servicio</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Precio Unitario</th>
                            <th>Impuesto Adicional</th>
                            <th>Descripción Impuesto Adicional</th>
                            <th>Alicuota</th>
                            <th>Cantidad</th>
                            <th>Importe Bonificado (%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fila in items %}
                        <tr>
                            <td>
                            <input type="checkbox" name="selected_item" id="item{{ loop.index }}" class="product-checkbox"
                                data-nombre="{{ fila[0] }}"
                                data-codigo="{{ fila[1] }}"
                                data-descripcion="{{ fila[2] }}"
                                data-precio_unitario="{{ fila[3] }}"
                                data-impuesto_adicional="{{ fila[4] if fila[4] is not none else '' }}"
                                data-descripcion_impuesto_adicional="{{ fila[5] if fila[5] is not none else '' }}"
                                data-alicuota="{{ fila[6] if fila[6] is not none else '' }}"
                                value="">
                            </td>
                            <td>{{ fila[0] if fila[0] is not none else "" }}</td>
                            <td>{{ fila[1] | default('', true) }}</td>
                            <td>{{ fila[2] if fila[2] is not none else "" }}</td>
                            <td>${{ fila[3] if fila[3] is not none else "" }}</td>
                            <td>{{ fila[4] if fila[4] is not none else "" }}</td>
                            <td>{{ fila[5] if fila[5] is not none else "" }}</td>
                            <td>{{ fila[6] if fila[6] is not none else "" }}</td>
                            <td class="quantity-cell" style="display:none;">
                            <input type="number" min="1" value="1" class="quantity-input" />
                            </td>
                            <td class="discount-cell" style="display:none;">
                            <input type="number" min="0" step="0.01" value="0" class="discount-input" />
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <br>
            
            <div style="display: flex; justify-content: center;" id="inputs-container"></div>

            <h5 style="display: flex; justify-content: center;"><input type="submit" value="Hacer Factura" class="boton"></h5>
        
            <input type="hidden" name="items_json" id="items-json">
        </form> 
    </div>
    <script src="{{ url_for('static', filename='js/filtro/filter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/facturador/facturador_unico.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/visual/cambiar_tema.js') }}"></script>
</body>
</html>