<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturador Múltiple</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
    <script src="/static/js/scriptGlobal.js"></script>
    <script src="/static/js/pantalla_procesamiento_intermedio.js"></script>
</head>
<div class="pantalla_exito pantalla_exito-hidden">
    <h2 id="mensaje_exito">Facturado Exitosamente</h2>
    <form id="formulario_exito" action="/menu_facturador" method="POST" onsubmit="mostrarLoader(event)" style="display: none;">
        <h5 style="display: inline-block;">
            <button type="submit" name="accion" value="FM" class="enlaceAD boxAD alternativo">Aceptar</button>
        </h5>
    </form>
</div>

<form action="/facturacion" method="POST" style="text-align: center;" onsubmit="mostrarExito(event)"></form>

<body>
    <div class="loader" id="loader">
        <div class="spinner"></div>
        <h1>CARGANDO FACTURADOR MULTIPLE</h1>
    </div>
    <section class="AccesoDirecto">
        <div class="container barranav">
            <nav class="navbar navbar-expand-lg fixed-top" id="barraDeNavegacion">
            <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('index_')}}"><h6 class="enlaceAD boxAD">Menú Principal</h6></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="line"></span> 
                    <span class="line"></span> 
                    <span class="line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
                        <ul class="navbar-nav"> 
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('menu_facturador_')}}"><h6 class="enlaceAD boxAD">Menu Facturación</h6></a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('documentacion')}}" target="_blank"><h6 class="enlaceAD boxAD">Documentación y Tutoriales</h6></a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('sis_info')}}" target="_blank"><h6 class="enlaceAD boxAD">Información sobre el sistema</h6></a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{url_for('ayuda')}}" target="_blank"><h6 class="enlaceAD boxAD">Ayuda</h6></a></li>
                        </ul>
                    </div>
            </div>
            </nav>
        </div>
    </section>
    <!---->
    <div class="marco_div">
        <h2>Facturador Múltiple</h2> 
        <!-- Mostrar el mensaje flash con el botón -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-message" style="background-color: #1a1a1a;  border: 1px solid red; padding: 10px; margin: 10px; display: inline-block;">
                    <ul>
                        {% for message in messages %}
                            <li><h5>{{ message }}</h5></li>
                        {% endfor %}
                    </ul>
                    <h5 style="display: flex; justify-content: center;"><button onclick="deleteMessage()" class="enlaceAD boxAD alternativo animado">Eliminar mensaje</button></h5>
                </div>
            {% endif %}
        {% endwith %}
        <br>
        <!---->
        <h3>¿Como Facturar usando el facturador múltiple?</h3>
        <p>Seguí el tutorial a continuación para aprender a facturar con el facturador múltiple</p>
        <iframe width="50%" height="25%" src="https://www.youtube.com/embed/VIDEO_ID_INEXISTENTE" frameborder="0" allowfullscreen></iframe>
        
        <h4>¿Necesitas agregar, modificar o borrar un producto o servicio en tu plantilla? Haz click en "Menú Items" para hacerlo</h4>
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('menu_items')}}" rel="noopener noreferrer" class="enlaceAD boxAD alternativo animado">Menú Items</a></h5>
        <br>
        <h4>¿Necesitas revisar que significaba un campo? Haz click en "Definiciones Facturación" para revisarlo</h4>
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('definiciones_facturacion')}}" target="_blank" rel="noopener noreferrer" class="enlaceAD boxAD alternativo aimado">Definiciones Facturación</a></h5>

        <form action="/facturacion" method="POST" style="text-align: center;" onsubmit="mostrarExito(event)">
            <input type="hidden" name="modo_facturacion" value="Factura Multiple">
            <p style="display: flex; justify-content: center;"><button type="submit" class="enlaceAD boxAD alternativo animado">Facturar</button></p>
        </form>
        <iframe src="{{ embed_link }}" width="85%" height="500" frameborder="0"> </iframe>    
    </div>
    <script>
        window.onload = function() {
            let loader = document.getElementById("loader");

            setTimeout(() => {
                loader.style.display = "none";
            }, 3000);
        };
    </script>
</body>
</html>