<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturador Múltiple</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
    <script src="/static/js/scriptGlobal.js"></script>
    <script src="/static/js/facturador/pantalla_procesamiento_intermedio.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="pantalla_exito pantalla_exito-hidden">
    <h2 id="mensaje_exito" class="confirmacion-accion">Facturado Exitosamente</h2>
    <form id="formulario_exito" action="/menu_facturador" method="POST" onsubmit="mostrarLoader(event)" style="display: none;">
        <h5 style="display: inline-block;">
            <button type="submit" name="accion" value="FM" class="boton">Aceptar</button>
        </h5>
    </form>
</div>

<form action="/facturacion" method="POST" style="text-align: center;" onsubmit="mostrarExito(event)"></form>

<body>
    <div class="loader" id="loader">
        <div class="spinner"></div>
        <h1 class="confirmacion-accion">CARGANDO FACTURADOR MULTIPLE</h1>
    </div>
    <!--Seccion de enlaces y acceso directo-->
    <section class="AccesoDirecto">
        <div class="container navbar">
            <nav class="navbar-expand-lg fixed-top" id="barraDeNavegacion">
				<div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
                        <ul class="navbar-nav"> 
                                <li class="nav-item"> <a class="nav-link" href="{{url_for('menu_facturador_')}}"><h6 class="barraNavegacion">Menu Facturación</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('documentacion')}}" target="_blank"><h6 class="barraNavegacion">Tutoriales</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('sis_info')}}" target="_blank"><h6 class="barraNavegacion">Sobre el sistema</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('ayuda')}}" target="_blank"><h6 class="barraNavegacion">Ayuda</h6></a></li>
                                <li class="nav-item"> <button id="toggleTheme" class="nav-link"><h6 class="barraNavegacion">Cambiar tema</h6></button></li>
                            </ul>
						</div>
				</div>
            </nav>
        </div>
    </section>
    <!---->
    <div class="marco_div">
        <h1>Facturador Múltiple</h1> 
        <!-- Mostrar el mensaje flash con el botón -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-message" class="flashalert">
                        <ul>
                            {% for message in messages %}
                                <li><h5 class="flashmessage">{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        <h5 style="display: flex; justify-content: center;"><button onclick="deleteMessage()" class="boton flash">Eliminar mensaje</button></h5>
                    </div>
                {% endif %}
            {% endwith %}
            <br>
        <!---->
        <h3>¿Como Facturar usando el facturador múltiple?</h3>
        <p>Seguí el tutorial a continuación para aprender a facturar con el facturador múltiple</p>
        <div class="responsive-video">  
            <iframe src="https://www.youtube.com/embed/3ZO22VAoCQ8" title="Facturador Multiple" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
        </div>  
        <h4>¿Necesitas agregar, modificar o borrar un producto o servicio en tu plantilla? Haz click en "Menú Items" para hacerlo</h4>
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('menu_items')}}" rel="noopener noreferrer" class="boton">Menú Items</a></h5>
        <br>
        <h4>¿Necesitas revisar que significaba un campo? Haz click en "Definiciones Facturación" para revisarlo</h4>
        <h5 style="display: flex; justify-content: center;"><a href="{{url_for('definiciones_facturacion')}}" target="_blank" rel="noopener noreferrer" class="boton">Definiciones Facturación</a></h5>
        <br>
        <p>Último número que usaste como identificador de factura: {{ ultimo_numero }}</p>
        <form action="/facturacion" method="POST" style="text-align: center;" onsubmit="mostrarExito(event)">
            <input type="hidden" name="modo_facturacion" value="Factura Multiple">
            <p style="display: flex; justify-content: center;"><button type="submit" class="boton">Facturar</button></p>
        </form>
        <iframe src="{{ embed_link }}" width="85%" height="500" frameborder="0"> </iframe>    
    </div>
    <script src="{{ url_for('static', filename='js/facturador/facturador_multiple.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/visual/cambiar_tema.js') }}"></script>
</body>
</html>