<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Facturador HelPy</title>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
	<link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <!--Seccion de enlaces y acceso directo-->
    <section class="AccesoDirecto">
        <div class="container navbar">
            <nav class="navbar-expand-lg fixed-top" id="barraDeNavegacion">
				<div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
                        <ul class="navbar-nav"> 
								<li class="nav-item"> <a class="nav-link" href="{{url_for('documentacion')}}" target="_blank"><h6 class="barraNavegacion">Tutoriales</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('sis_info')}}" target="_blank"><h6 class="barraNavegacion">Sobre el sistema</h6></a></li>
								<li class="nav-item"> <a class="nav-link" href="{{url_for('ayuda')}}" target="_blank"><h6 class="barraNavegacion">Ayuda</h6></a></li>
								<li class="nav-item"> <button id="toggleTheme" class="nav-link"><h6 class="barraNavegacion">Cambiar tema</h6></button></li>
							</ul>
						</div>
				</div>
            </nav>
        </div>
    </section>
    <!---->
    <div class="marco_div texto_default">
		<h1>Bienvenido al sistema de facturación HelPy</h1>
		<h2>Estás en el <b>Menu principal</b></h2>
		<br>

		<h4>Para emitir facturas, primero necesitás una <b>llave</b> y un <b>certificado</b>.</h4>
		<h4>Si ya los tenés tu llave y certificado, iniciá sesión tocando el botón "Iniciar sesión".</h4>
		<h5 style="display: flex; justify-content: center;"><a href="{{url_for('inicio_sesion')}}" rel="noopener noreferrer" class="boton">Iniciar sesión</a></h5>
		
		<br><br>
		
		<h4>Si aún no los tenés, tocá el botón "Ir a crear llave y certificado".</h4>
		<h5 style="display: flex; justify-content: center;"><a href="{{url_for('crear_cuenta')}}" rel="noopener noreferrer" class="boton">Ir a crear llave y certificado</a></h5>

		<div id="cookie-overlay" class="cookie_overlay"></div>

		<!-- Modal de cookies -->
		<div id="cookie-modal" class="cookie_popup">
			<h5 style="margin-bottom: 1rem; color:black">
			Este sitio utiliza cookies para guardar información técnica necesaria para su funcionamiento. Al continuar, aceptás su uso.
			</h5>
			<h6 style="color:black">Para más información haga click aquí:<a href="{{url_for('informacion_cookies')}}" rel="noopener noreferrer" style="display: flex; justify-content: center;"><h6 class="enlaceAD boxAD">Más Información</h6></a></h6>
			<button onclick="aceptarCookies()" class="cookie_button">
			Aceptar
			</button>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/visual/cambiar_tema.js') }}"></script>
</body>
</html>