<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Sistema</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='Facturador_Logo.jpg') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="marco_div">
        <h1>Cookies del sistema</h1>
        
        <h3>¿Que son las Cookies?</h3>
        <p>Las cookies son pequeños archivos que guarda una página web en tu computadora o celular para recordar cosas sobre vos</p>


        <br>

        <h3>¿Como el sistema usa las cookies?</h3>
        <p>Este sitio web utiliza cookies para guardar algunos datos importantes mientras lo estás usando. Estos datos incluyen:</p>
        <ul>
            <li><p>• Tu nombre y el nombre de tu empresa.</li></p>
            <li><p>• Tu número de CUIT.</li></p>
            <li><p>• Información técnica como tu certificado digital, llave privada y ticket de acceso. (Esto no es tu clave fiscal)</li></p>
            <li><p>• El nombre del archivo Excel que estás usando y su identificador.</li></p>
            <li><p>• Algunos indicadores internos para que el sistema funcione correctamente.</li></p>
        </ul>
        
        <br>

        <h3>¿Para que guarda el sistema estas cookies?</h3>
        <p>Estos datos se guardan únicamente para que puedas usar todas las funciones del sistema de forma segura y sin errores.</p>

        <p>
            Esta información no se comparte con terceros para fines comerciales ni publicitarios.
            Algunos datos, como el CUIT o certificados digitales, pueden ser utilizados exclusivamente para cumplir con los requisitos de la AFIP en el proceso de facturación.
            Toda la información se utiliza únicamente durante tu sesión, con el objetivo de que el sistema funcione correctamente y facilitar tu trabajo.
        </p>
        <a href="{{url_for('index')}}" rel="noopener noreferrer" style="display: flex; justify-content: center;"><h5 class="boton">Volver al menú principal</h5></a>
    </div>
</body>
</html>